body {
    user-select: none;
    background-color: #000000;
    color: #fbfbfb;
}

header {
    background-color: #111111;
}

.navbar {
    font-size: 18px;
    padding: 0 16px;
}
.navbar li {
    padding: 0 10px;
}
.navbar li a.nav-link {
    color: #fbfbfb;
    border-bottom: 2px solid #111111;
    padding: 15px;
    transition: 0.2s;
}

#navbarButton {
    margin: 10px 0;
}

.navbar li a.nav-link:hover {
    border-bottom: 2px solid #8800ee;
    box-shadow: 0 2px 0#8800ee;
}

/* Small screen / tablet / 760px to 991px */
@media (max-width: 1024px) {
}